body{
    display: block;
    width: 1280px; /*szerokość części roboczej*/
    font-family: 'FL Pismo Techniczne', Changa, 'Times New Roman'; /*typ czcionki*/
    font-size: medium; /*rozmiar czcionki*/
    color: black; /*kolor czcionki*/
    background-color: azure; /*kolor tła podczas ładowania się obrazka*/
    margin: 0px auto; /*marginesy zewnętrzne*/
    padding: 0px; /*marginesy wewnętrzne*/
    background-color: grey;
    background-image: url(../grafika/tlo2.jpg); /*obrazek tła*/
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed; /*nieruchome tło*/
}

/*header section*/

header{
    position: relative; z-index: 3;
    color: black;
    background-image: url("../grafika/kratka.png");
    opacity: 0.9;
    background-color: #36f;
    width: 1260px;
    margin: 30px 0 0 0;
    padding: 10px;
    height: 55px;
}

#header a{
    text-decoration: none;
    color: black;
}

.logo{
    position: relative; top: -22px;
    float: left;
    margin: 0 0 0px 0px;
    opacity: 0.9;

}

.logo:hover{
    position: relative; left: -2px; top: -18px;
}

.heading{
    position:relative; z-index: 2; top: -8px;
    text-align: center;
    font-size: xxx-large;
    float: left;
    width: 1260px;
    height: 60px;
    font-weight: 900;
}



.search{
    position: relative; z-index: 3; top: -45px;
    float: right;
    margin: 0 10px 10px 0;
    height: 27.33;
}

.button1{
    background: transparent;
    border: none;
    position: relative; top: 2px;
}

.button1:hover{
    position: relative; right: 2px; top: 4px;
}

/*article*/

article{
    position: relative; z-index: 1;
    background-color: azure;
    float: auto;
    width: 1240px;
    margin: 0;
    padding: 20px;
    opacity: 0.9;
}

#linieBanera{
    background-color: black;
    width: 100%;
    height: 2px;
    border: 0px;
}

#nag{
    font-size:xx-large;
    text-align:center;
    font-weight: bolder;
}
#nizNag{
    font-size:x-large;
    text-align:center;
    float: center;
    font-weight: bolder;
    content: '\A';
    white-space: pre;
}

#niznizNag{
    font-size:larger;
    text-align:center;
    float: center;
    font-weight: 400;
}

#img{
    text-align: center;
}

img{
    content: '\A';
    white-space: pre;
    text-align: center;
}

#nowyAkapit{
    text-indent: 5%;
    text-align: left;
}

#article nowyAkapit{
    text-indent: 5%;
    text-align: left;
    content: '\A';
    white-space: pre;
}

#opisWzoru{
    list-style: none;
}

#podpisTWG{
    text-align: center;
    font-style: italic;
    font-size: smaller;
}

#article table{
    text-align: center;
}

#tabela{
    text-align: center;
    border-collapse: separate;
    border: black;
}


footer{
    position: relative; z-index: 1;
    width: 1240px;
    float: auto;
    font-size: smaller;
    text-align: left;
    clear:both;
    color: black;
    background-color: #dfdfdf;
    margin: 0 0 30px 0;
    padding: 20px;
    opacity: 0.9;
}

input{
    font-size: medium;
    color: black;
    /*opacity: 0.8;*/
}

@media only all and (max-width:448px){
    .heading{
        font-size: 150% !important;
    }
}

@media only all and (max-width: 640px) {
    html, body{
        width: 100%;
    }
    header{
        width: auto;
        padding: 10px, 1%, 10px, 1%;
    }
    .heading{
        width: 100%;
        height: 35px;
        font-size: 200%;
        position: relative; top: 10px;
    }
    .search{
        position: relative; top: -20px;
        text-align: right;
        margin: 0, 10px, 0, 10px;
        padding: 0;
        width: 20%;
    }
    .search:hover{
        width: 100%;
    }
    .search_text{
        width: 20%;
        height: 27.33;
    }
    article{
        width: auto;
        padding: 10px, 1%, 10px, 1%;
        margin: 0;
    }
    footer{
        width: auto;
        padding: 1%;
    }
}

@media only all and (min-width: 641px) and (max-width: 890px) {
    html, body{
        width: 100%;
    }
    header{
        width: auto;
        padding: 10px, 1%, 10px, 1%;
        opacity: 1;
    }
    .heading{
        width: 100%;
    }
    .search{
        text-align: right;
        margin: 0, 10px, 0, 10px;
        padding: 0;
        width: 20%;
    }
    .search:hover{
        width: 100%;
        
    }
    .search_text{
        width: 20%;
        height: 27.33;
    }



    article{
        padding: 20px, 1%, 20px, 1%;
        width: auto;
        margin: 0;
    }

    footer{
        width: auto;
        padding: 1%;
    }
}

@media only all and (min-width: 891px) and (max-width: 1280px) {
    html, body{
        width: 100%;
    }
    header{
        width: 98%;
        padding: 10px, 1%, 10px, 1%;
        margin: 30px 0 0 0;
        opacity: none;
    }
    .heading{
        width: 100%;

    }
    article{
        width: auto;
        padding: 10px, 1%, 10px, 1%;
        margin: 0;
    }
    footer{
        width: auto;
        padding: 10px, 1%, 10px, 1%;
        margin: 0 0 30px 0;
    }
}